<h1>
  Lançamentos
</h1>

<div>
  <mat-form-field>
    <mat-label>Coloque um intervalo de datas</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>

<p>
  {{range.value | json}}
</p>

<button mat-raised-button (click)="filtrarPorData()">
  Buscar
</button>

<table>
  <tr>
    <th>Projeto</th>
    <th>Quantidade de horas</th>
    <th>Data</th>
  </tr>
  <tr *ngFor="let apt of apontamentosFiltrados">
    <td>{{ apt.projeto }}</td>
    <td>{{ apt.qtdHoras }}</td>
    <td>{{ apt.dataLancamento }}</td>
  </tr>
</table>