<div class="sidenav">
  <img src="/assets/logoITLean.png" routerLink="/" alt="logoITLean" class="logo">
  <ul>
    <li>
      <button type="button" [class.ativo]="rota.url.includes('vagas')" routerLink="/vagas/home">
        Vagas
      </button>
    </li>
    <li>
      <button type="button" [class.ativo]="rota.url.includes('exemplos-material')" routerLink="/exemplos-material">
        Material
      </button>
    </li>
    <li>
      <button type="button" [class.ativo]="rota.url.includes('lancamentos')" routerLink="/jira/lancamentos">
        Jira - Lançamentos
      </button>
    </li>
    <li>
      <button type="button" [class.ativo]="rota.url.includes('apontamento')" routerLink="/jira/apontamento">
        Jira - Apontamento
      </button>
    </li>
  </ul>
</div>